# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

### maven ###
target/
.mvn
mvnw.cmd
mvnw

### Gradle ###
!gradle/wrapper/gradle-wrapper.jar
.gradle
/build/
/gradlew
/gradlew.bat

### MISC ###
.DS_Store⏎
out/